.class-info-container {
  margin: 60px auto;
  padding: 20px;
  text-align: center;
}

.student-list {
  list-style: none;
  padding: 0;
}

.contact input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 20px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 2px solid #27ae65;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.contact input[type="checkbox"]:checked {

  background-color: #27ae60;
  border-color: #27ae60;
}

.contact input[type="checkbox"]:checked::before {
  content: 'P';
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  position: relative;
  top: -1px;
  right: -5.5px;
  transform: translate(-50%, -50%);
}

/* Style for the checkbox label text */
.contact input[type="checkbox"]+label {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}

/* Optional: Style the checkbox container */
.card-stu {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* Optional: Style the roll number */
.card-stu p {
  font-weight: bold;
  margin-bottom: 4px;
}