.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.white {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange {
  width: 50%;
  background-color: #00072d;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name .swa-logo{
  position: fixed;
  top: 150px;
  left: 260px;
}

.orange p {
  color: #f8f8f8;
  font-size: 2rem;
  font-weight: 600;
  position: fixed;
}
.org-name{
  top: 400px;
  left: 250px;
}
.org-quote{
  top: 450px;
  left: 140px;
}


.overlay {
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.login-cred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.login-cred input {
  padding: 0.5rem 1.5rem;
  border: 1px solid #999;
  margin: 1rem 0;
  border-radius: 15px;
  background-color: #f8f8f8;
  background-blend-mode: darken;
  width: 100%;
}

.login-submit {
  background-color: #000328;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.login-submit:hover {
  background-color: #000328c9;
}

.heading h1 {
  font-size: 1.7rem;
  color: #333;
  text-align: center;
}

.name p {
  text-align: center;
}
/* Add this CSS to your stylesheet */
.registration-form {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

/* Add this CSS to your stylesheet */
.checkbox-label {
  position: relative;
  padding-left: 30px; /* Adjust the padding as needed */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee; /* Background color of the checkbox */
  border: 1px solid #ccc; /* Border color of the checkbox */
  border-radius: 3px; /* Adjust border-radius for rounded corners */
}

.checkbox-label input:checked + .checkmark {
  background-color: #2196F3; /* Change background color when checked */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked + .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 5.6px; /* Adjust position as needed */
  top: 0.8px; /* Adjust position as needed */
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  content: "";
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; /* Adjust the gap as needed */
}

.form-column {
  display: flex;
  flex-direction: column;
}



input,
button {
  margin-bottom: 16px;
}


@media (max-width: 768px) {
  * {
    overflow-y: hidden;
  }

  .white {
    width: 50%;
  }

  .orange {
    width: 50%;
  }

  .overlay {
    position: absolute;
    top: 50;
    left: 20px;
    width: 90%;
  }

  .login-cred {
    margin-top: 1rem;
  }

  .login-cred input {
    border-radius: 10px;
  }

  .login-submit {
    padding: 1rem 1.5rem;
  }

  .login-img {
    width: 100%;
  }

  .heading h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  .name {
    position: absolute;
    top: 10px;
    left: 200px;
  }
  .name p {
    font-size: 0.78rem;
    color: #000328;
    text-align: left;
  }
}

/* Styles for the registration form */
.register {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register h2 {
  font-size: 1.5rem;
  color: #000328;
  text-align: center;
  margin-bottom: 1rem;
}

.register p {
  font-size: 1rem;
  color: #333;
  text-align: center;
}

.register label {
  font-size: 1rem;
  color: #000328;
}

.register input {
  padding: 0.5rem 1.5rem;
  border: 1px solid #999;
  margin: 1rem 0;
  border-radius: 15px;
  background-color: #f8f8f8;
  background-blend-mode: darken;
  width: 100%;
}

.register-submit {
  background-color: #000328;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-top: 1rem;
  width: 100%;
}

.register-submit:hover {
  background-color: #000328c9;
}
