/* Base styles for larger screens */
.heading-class {
  margin: 30px 0;
  font-size: 40px;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Use two columns for larger screens */
  gap: 20px;
  justify-items: center;
}

.card-grade {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 600px;
  max-width: 700px;
  margin-bottom: 20px;
  text-align: left;
  border: 0.2px solid #999;
}

.card-grade h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.showallStudent {
  position: relative;
  top: -25px;
  float: right;
  background-color: transparent;
  color: black;
}

.showallStudent i {
  font-size: 60px;
}

.card-grade p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.card-grade:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: all 0.2s;
}

.enroll-class {}

/* Media query for small devices (already defined) */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
    /* Use a single column for small screens */
  }

  .card-grade {
    width: 100%;
    /* Take full width for small screens */
    padding: 20px;
    /* Adjust padding for smaller screens */
  }
}