/* src/components/News.css */

.news-container {
    padding: 20px;
  }
  
  .news-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .news-card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
  }
  
  .news-card:hover {
    transform: scale(1.05);
  }
  
  .news-card-content {
    padding: 15px;
  }
  

  
  .news-card:hover .news-details {
    display: block;
  }
  
  .news-details p {
    margin: 0;
  }
  
  .news-card h3 {
    margin-top: 0;
  }
  
  .news-card small {
    display: block;
    margin-top: 10px;
    color: #888;
  }
  