
.card-stu {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 70px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 5px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-stu:hover {
  transform: scale(1.009);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-stu h3 {
  font-size: 20px;
  color: #333;

}

.card-stu p {
  font-size: 16px;
  color: #666;
}

@media (max-width: 767px) {
  .card-stu {
    padding: 10px 20px; /* Adjust padding for smaller screens */
    margin: 10px 5px; /* Adjust margin for smaller screens */
  }

  .card-stu h3 {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .card-stu p {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}