/* Banner.css */
.banner-container {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slick-slide {
  height: 400px;
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;

}

.slide {
  text-align: center;
  display: flex;
  position: relative;
}

.slide-image {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.photo-detail {
  display: block;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.text-container h5 {
  font-size: 18px;
  line-height: 1.5;
}
