.banner-slider-container {
  position: relative;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.banner-container {
  flex: 0 0 100%;
  
}

.banner {
  text-align: center;
  color: #fff;
  padding: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
}

.banner button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
