.details {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio-data h1 {
  font-size: 2em;
  border-bottom: 3px solid #ccc;
}

.bio-data {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
}

.bio-data h3 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}


.bio-data h2 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.bio-data p {
  margin: 5px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.bold-text {
  font-weight: normal;
}


.personal-info,
.family-info,
.academic-info {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .details {
    margin: 15px;
  }

  .bio-data {
    padding: 15px;
  }

  .personal-info,
  .family-info,
  .academic-info {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .bio-data h1 {
    font-size: 1.8em;
  }

  .bio-data h2 {
    font-size: 1em;
    text-align: center;
  }
  .bio-data h3 {
    font-size: 1em;
  }
}
