.custom-slider {
  position: relative;
  width: 100%;
  border-radius:0;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 30px;
}

.custom-slider .slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.custom-slider .slide {
  flex: 0 0 25%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 10px;
}



.custom-slider .news-card-content {
  background-color: #fff;
  padding: 0 20px;
  margin-top: -40px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 200px;
}
.custom-slider .news-card-content p{
  height: 150px;
  font-size: 13px;
  text-align: justify;
}

.custom-slider .nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
}

.custom-slider .prev {
  left: 10px;
}

.custom-slider .next {
  right: 10px;
}

.custom-slider .slider-container .slide .img-container {
  width: 350px;
  height: 350px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.custom-slider .slider-container .slide .img-container img {
  width: 250px;
  border-radius: 3px;
  padding: 0;
}

.news-delete-button{
  position: relative;
  top: 70px;
  right: -150px;
  background-color:transparent;
  color:#333;
  font-size: 1.1em;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 10px ;
}
.news-delete-button img{
  padding: 0;
}

.slide:hover .news-delete-button{
  opacity: 1;
}
.news-delete-button:hover{
  background-color:rgb(253, 86, 86)
}